body {
    background-color: white;
}

.container {
    background-color: lightslategray;
    border: 1px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}

.centerText {
    text-align: center;
    color: white;
    font-size: 25px;
    
}

.Menu {
    display: block;
    margin-left: 1px;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    background-color: teal;
    color: white;
    border: 2px solid white;

}

.menuText {
    font-size: large;
    
    text-align: center;
    color: white;
    
}

.Characters {
    display: block;
    margin-left: 1px;
    margin-right: auto;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    display: block;
    border: 2px solid white;
    

}

.charText {
    font-size: small;
}


.reviewText {
    font-size: large;
    color: orange;
    text-align: center;
}

.Review {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    color: orange;
    padding: 5px;
    background-color: black;
    border: 2px solid white;
}


.orangeText {
    font-size: small;
    
}

#canvas {
    display: block;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    
}
